<form method="post">
    {{ form.hidden_tag() }}
    {{ form.example }}
    <input type="submit">
</form>

{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select Binding Site</legend>
                <div class="form-group">
                    {{ form.radio.label() }}
                    {{ form.radio(class="form-control-file") }}
                    {% if form.radio.errors %}
                        {% for error in form.radio.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
